html{
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}
.body{
  /* background-color: var(--bg); */
  padding-top: 3rem;
}
.card-boloc {
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 3rem 10% ;
    border-radius: .5rem;
    background-color: #fff;
}
.card-boloc2 {
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin: 3rem 10% ;
  border-radius: .5rem;
  background-color: #fff;
}

.filter-wapper{
  display: flex;
  align-items: center;
}
.filter-wapper .filter-detail{
  width: 20%;
  font-size: 1.4rem;
  font-weight: 500;
  margin: 1.5rem 1rem;
}
.boloc h1{
  padding: 1rem;
  border-left: 5px solid var(--color-primary);
}
.name2{
  display: inline;
  padding: 0.5rem;
  border: 1px solid #0934ad;
  font-size: 1.5rem;
  border-radius: 5%;
  cursor: pointer;
  margin-left: 0.5rem;
}
.right-panel-active{
    background-color: #0934ad;
    color: #fff;
}

/* .product{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 45px;
    grid-row-gap: 45px;
    text-align: center;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
} */
@media screen and (max-width: 1043px) {
    .product-cards{
        --spacing: 15px;
        --columns: 3;
    }
    .card-boloc {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 100%;
        border-radius: 25px;
        height: 280px;
    }
}
@media screen and (max-width: 767px) {
    .product-cards{
        --spacing: 15px;
        --columns: 2;
    }
    .card-boloc {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 100%;
        border-radius: 25px;
        height: 400px;
    }
}

.card-image{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--color-primary);
    overflow: hidden;
    position: relative;
    height: 50%;
}
.card-image img{
    height: auto;
    width: 20rem;
    object-fit: contain;
    flex-shrink: 0;
    transition: all .4s linear;
}
.card-image:hover img{
    transform: scale(1.1);
}
.card-content{
    padding: 1rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-title{
    margin: 1.5rem;
    font-weight: 600;
    height: 6rem;
    flex: 1;
    word-break: break-all;
    font-size: 1.6rem;
    display:-webkit-box;
    -webkit-line-clamp:3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}
.money-old-detail{
  display: flex;
  line-height: 2rem;
  justify-content: space-between;
}
.card-money-old{
    text-decoration: line-through;
    font-size: 1.4rem;
    position: relative;
}
.card-sale-off{
    color: red;
    text-decoration: none;
    display: inline;
    font-size: 1.5rem;
}
.card-money-new{
    font-size: 1.6rem;
    line-height:3rem;
}
.card-warehouse{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-icon{
    font-size: 1.6rem;
    color: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.add-button{
    color: #fff;
    display: flex;
}
.add-button a{
  margin: 0 .5rem;
}

.btn1{
  font-size: 2rem;
  border: 1px solid var(--color);
  border-radius: 5%;
  color: var(--color);
  cursor: pointer;
  padding: .5rem;
  transition: all .2s linear;
}

.btn1:hover {
  background-color: var(--color);
  color: #fff;
}
/* .products {
    padding: 15rem 0;
  }
  
  .product__center {
    padding: 0 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 3rem 1rem;
  } */
  .cart__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 300ms ease-in-out;
    background-color: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    z-index: 1000;
  }
  
  .cart {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    width: 60%;
    height: 80%;
    padding: 1.6rem;
    border-radius: 2rem;
    z-index: 100;
    overflow-y: scroll;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms ease-in-out;
  }
  
  .cart.show {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    visibility: visible;
  }
  
  .cart__overlay.show {
    visibility: visible;
  }
  
  .close__cart {
    cursor: pointer;
    float: right;
    z-index:10;
  }
  
  .close__cart svg {
    fill: #000;
    transition: all 300ms ease-in-out;
  }
  
  .close__cart:hover svg {
    fill: var(--color);
  }
  
  .cart svg {
    width: 1.8rem;
    height: 1.8rem;
  }
  
  .cart .your-cart{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
    font-weight: 500;
  }
  
  .cart__item svg {
    width: 2.5rem;
    height: 2.5rem;
    fill : var(--color-primary);
  }
  
  .cart__item {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    width: 70%;
    margin: 2rem auto;
  }
  
  .cart__item div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .cart__item div span {
    cursor: pointer;
  }
  
  .cart__item img {
    width: 9.5rem;
    height: 9.5rem;
  }
  
  .cart__item h3 {
    font-weight: 500;
    margin-bottom: 1.5rem;
  }
  
  .cart__item .price {
    color: var(--orange);
    font-weight: 700;
  }
  
  .cart__item p {
    font-weight: 700;
  }
  
  .cart__item .remove__item {
    cursor: pointer;
  }
  
  .cart__item .remove__item svg {
    fill: var(--color-primary);
  }
  
  @media only screen and (max-width: 1350px) {
    .cart__item {
      width: 100%;
    }
  }
  
  @media only screen and (max-width: 996px) {
    .cart__item {
      grid-template-columns: 1fr 2fr 0.5fr 0.5fr;
    }
  
    .cart__item h3 {
      font-size: 1.7rem;
    }
  
    .cart__item .remove__item svg {
      width: 1.6rem;
      height: 1.6rem;
    }
  
    .cart__item img {
      width: 7.5rem;
      height: 7.5rem;
    }
  }
  
  .cart__footer {
    text-align: center;
    margin-bottom: 3rem;
  }
  
  .cart__footer h3 {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 1px;
  }
  
  .cart__footer .btn {
    display: inline-block;
    padding: 1.5rem 3rem;
    font-size: 2rem;
    background-color: var(--orange);
    border: none;
    margin-top: 2rem;
  }
  
  .cart__footer .btn:focus {
    outline: none;
  }
  
  @media only screen and (max-width: 567px) {
    .cart {
      width: 100%;
      height: 100%;
      border-radius: 0rem;
    }
  
    .cart__item h3 {
      font-size: 1.6rem;
      margin-bottom: 1rem;
    }
  
    .btn {
      padding: 0.8rem 1.5rem;
      font-size: 1.6rem;
    }
  }
  .nav__list {
    display: flex;
    align-items: center;
  }
  
  .login {
    display: inline-block;
    font-size: 1.7rem;
    margin-right: 2rem;
    padding: 1.3rem 1.5rem;
    color: var(--black);
    background-color: var(--yellow);
  }
  
  .login:focus {
    outline: none;
  }
  
  .cart__icon {
    position: relative;
    cursor: pointer;
  }
  
  .cart__icon h2 {
    font-weight: 700;
    color: var(--orange);
  }
  
  .cart__icon span {
    position: absolute;
    top: -1rem;
    right: -2.5rem;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--warn);
    color: var(--white);
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 50%;
  }
  /* .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  } */
  .product-wrapper{
    position: relative;
    padding: 2rem 10%;
    background-color: var(--bg);
  }
  .product-cards{
    --spacing: 30px;
    --columns: 4;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--spacing));
  }
  .product-card{
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
    box-shadow: rgba(148, 148, 158, 0.1) 5px 10px 8px 10px;
    width: calc( calc(100% / var(--columns)) - var(--spacing));
    margin-left: var(--spacing);
    margin-bottom: var(--spacing);
  }



  /* VIEW: The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.view-title{
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}
.view-title2 {
  font-size: 2.5rem;
  background-color: var(--color-secondary);
  margin-top: 2rem;
  font-weight: 500;
  padding: 1rem;
  border-radius: 5px;
  color: #fff;
}
.view-info {
  font-size: 2rem;
  padding: .5rem 1rem;
}
/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  border-radius: 5px;
  position: relative;
}

/* The Close Button */
.modal-close {
  color: #aaaaaa;
  position: absolute;
  top: 1rem;
  right: 3rem;
  font-size: 5rem;
  font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* Pagination */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.6rem;
    background-color: var(--bg);
    padding-bottom: 3rem;
}
.pagination1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination1 .btn-paganition{
  padding: .2rem .6rem;
  margin: 0 .2rem;
  border: 1px solid var(--color);
  border-radius: 500px;
}  
.pagination1 .btn-paganition:hover,
.pagination1 .btn-active{
  background-color: var(--color);
  color: #fff;
}

.pagination1 a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
.page-icon{
    font-size: 2rem;
}
.modal-close-edit{
  font-size: 3rem;
  font-weight: 600;
  cursor: pointer;
}
